@import "body", "footer", "header", "media-query";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-share-tech-mono {
  font-family: "Share Tech Mono", monospace;
}

.font-mukta {
  font-family: "Mukta", sans-serif;
}

.font-baloo2 {
  font-family: "Baloo 2", cursive;
}
.font-varela {
  font-family: "Varela Round", sans-serif;
}

.size-35 {
  font-size: 35px;
}

.size-23 {
  font-size: 23px;
}

.size-20 {
  font-size: 20px;
}
